.center_div{

    margin: 0 auto;
    width:80%
}
#title{
  font-family:'Raleway';
}
.top-background{
  background-color:#009688;
  color:white;
}
#location_results{
  padding-top:2rem;
}
.data{
  font-family:'EB Garamond';
}
