.center_div{

    margin: 0 auto;
    width:80%
}
#title{
  font-family:'Raleway';
}
.top-background{
  background-color:#009688;
  transition:1s ease-in-out;
  color:white;
}
#location_results{
  padding-top:2rem;
}
.data{
  font-family:'Gentium Basic';
}
#banner:hover{
  background-color:#2196f3;
  transition:1s ease-in-out;
}
